body {
  margin: 0;
  font-family: 'jf-openhuninn', -apple-system, BlinkMacSystemFont, 'Arial',sans-serif;
}


@font-face {
  font-family: 'jf-openhuninn';
  src: url(./assets/font/jf-openhuninn-1.1.ttf) format('jf-openhuninn');
}